@import "../variables";

#reservation-header {
  height: 450px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5), transparent),
    url("./assets/restaurant-6.jpg");
  background-position: 40% 70%;
}

#reserve-section {
  @extend .lemon-bg;
  padding: 86px $x-space;
}

#reserve-header {
  h2 {
    font-size: 3.6rem;
    color: $primary-green;
  }
}

.reserve-info {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 42px;

  form {
    width: 600px;
    @extend .flex-col;
    font-size: 1.6rem;
    gap: 32px;
    border-bottom: 1px solid gainsboro;

    .form-join {
      width: 100%;
      @extend .default-shadow;
      background-color: white;
      // border: 1px solid gainsboro;
      padding: 0 8px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      gap: 16px;

      * {
        border: none;
        width: 33%;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  .reserve-hours {
    margin: 16px 0;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-gap: 16px;
  }

  .hour-btn {
    @extend .fill-btn;
    font-size: 1.6rem;
    padding: 0;
    width: 100%;
    aspect-ratio: 8 / 3;
  }
}

.location {
  @extend .default-shadow;
  display: flex;
  // border: 1px solid gainsboro;
  border-radius: 4px;
  max-height: 400px;

  iframe {
    width: 45%;
    border-radius: 4px 0 0 4px;
  }

  .location-info {
    background-color: white;
    width: 100%;
    max-height: 400px;
    padding: 32px;
    @extend .flex-col;
    gap: 16px;
    border-radius: 0 4px 4px 0;

    h3 {
      color: $primary-green;
      font-size: 3.2rem;
    }

    p {
      color: $highlight-black;
      font-size: 1.6rem;
    }
  }

  .text-link {
    @extend .link-btn;
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    font-size: 1.6rem;
    text-underline-offset: 2px;
  }

  .socials {
    display: flex;
    gap: 16px;

    a {
      color: $primary-green !important;
      transition: $text-transition;

      &:hover {
        color: $secondary-cream !important;
        transition: $text-transition;
      }
    }
  }
}

#promo {
  .image-1 {
    background-image: linear-gradient(
        180deg,
        rgba(73, 94, 87, 0.5),
        rgba(73, 94, 87, 0.5)
      ),
      url("./assets/plant-bg.jpg");
  }
}

@media only screen and (max-width: 1024px) {
  #reserve-section {
    padding: 86px $x-space-tablet;
  }

  .reserve-info {
    form {
      width: 400px;
    }

    .reserve-hours {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 16px;
    }
  }

  .location {
    width: 350px;
    height: fit-content;
    max-height: 400px;
    display: flex;
    flex-direction: column;

    iframe {
      width: 100%;
      border-radius: 4px 0 0 4px;
    }

    .location-info {
      padding: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #reserve-header {
    h2 {
      font-size: 2.8rem;
    }
  }

  .reserve-info {
    flex-direction: column;

    form {
      width: 100%;
      font-size: 1.4rem;
    }

    .reserve-hours {
      margin: 16px 0 32px 0;
    }

    .hour-btn {
      font-size: 1.4rem;
    }

  }

  .location {
    width: 100%;
    flex-direction: row;
    height: 350px;

    iframe {
      width: 45%;
    }

    .location-info {
      h3 {
        font-size: 2.4rem;
      }

      .text-link, p {
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #reserve-section {
    padding: 86px $x-space-phone;
  }
}
