@import "../variables";

#reservation-header {
  height: 450px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5), transparent),
    url("./assets/restaurant-6.jpg");
  background-position: 40% 70%;
}

#reserve-main {
  padding: 86px $x-space;
}

#reserve-header {
  display: flex;

  h2 {
    font-size: 3.6rem;
    color: $primary-green;
  }
}

.reserve-info {
  display: flex;
  justify-content: space-between;
  // gap: 32px;
  margin-top: 42px;

  .reserve-hours {
    margin-top: 16px;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .hour-btn {
    @extend .fill-btn;
    font-size: 1.6rem;
    width: 124px;
    aspect-ratio: 8 / 3;
  }
}

form {
  font-size: 1.6rem;
  @extend .flex-col;
  gap: 32px;

  .form-join {
    border: 1px solid gainsboro;
    padding: 0 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    * {
      border: none;
      // outline: 1px solid red;
      // border-right: 1px solid gainsboro;
      width: 33%;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }

      // *:not(:last-child) {
      //   border-right: 1px solid gainsboro;
      // }
    }

    // *:not(:first-child) {
    //   border: none;
    //   border-left: 1px solid gainsboro;
    // }
  }
}

.location {
  display: flex;
  border: 1px solid gainsboro;
  border-radius: 4px;
  @extend .default-shadow;

  iframe {
    width: 40%;
    height: 400px;
    border-radius: 4px 0 0 4px;
  }

  .location-info {
    width: 350px;
    padding: 32px;

    h3 {
      color: $primary-green;
      font-size: 3.2rem;
    }
  }

  .location-details {
    margin-top: 32px;
    
    .text-link {
      @extend .link-btn;
      text-decoration: underline !important;
      text-decoration-thickness: 1px !important;
      font-size: 1.6rem;
      text-underline-offset: 2px;
    }

    .socials {
      display: flex;
      gap: 16px;
      margin-top: 16px;

      a {
        color: $highlight-black !important;
        transition: $text-transition;
        
        &:hover {
          color: $primary-green !important;
          transition: $text-transition;
        }
      }
    }
  }
}
