@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Special+Elite&display=swap");

$primary-green: #495e57;
$primary-yellow: #f4ce14;
$secondary-cream: #ee9972;
$secondary-cream-light: #fbdabb;
$highlight-gray: #edefee;
$highlight-black: #333333;
$x-space: 124px;
$x-space-tablet: 64px;
$x-space-phone: 16px;
$text-transition: all 0.075s ease-in;

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-green;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.markazi {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.to-yellow {
  cursor: pointer;
  color: white;
  transition: $text-transition;

  &:hover {
    color: $primary-yellow !important;
    transition: $text-transition;
  }
}

.transparent-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid $primary-yellow;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    background-color: $primary-yellow;
    color: $highlight-black;
  }
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;

  &:visited {
    color: white !important;
  }
}

button {
  background-color: transparent;
  border: none;
}

nav {
  color: white;
  padding: 24px $x-space;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 54px;

  position: fixed;
  width: calc(100%);
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s linear;

  .nav-links {
    display: flex;
    gap: 36px;
    align-items: center;
    margin: 0;
  }

  button,
  a {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    @extend .to-yellow;
  }
}

.logo {
  width: 165px;
}

.burger {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.offcanvas {
  background-color: rgba(255, 255, 255, 1);

  & * {
    color: $highlight-black;
  }

  .offcanvas-header {
    padding: 24px 16px;
    justify-content: space-between;
  }

  .offcanvas-body {
    padding: 32px 16px;
  }

  .offcanvas-nav {
    @extend .flex-col;
    gap: 36px;

    button {
      width: 100%;
      text-align: right;
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .offcanvas-socials {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}

.nav-background {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  button,
  a {
    color: $highlight-black !important;
    &:hover {
      color: $primary-green !important;
      transition: $text-transition;
    }
  }
}

.hidden {
  top: -120px;
  transition: all 0.15s linear;
}

header {
  @extend .flex-col;
  gap: 32px;
  color: white;
  letter-spacing: 1px;
  background-attachment: fixed;
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.7), transparent),
    url("./assets/restauranfood-comp.jpg");
  background-size: cover;
  background-position: 0% 60%;
  padding: 172px $x-space;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .title {
    h1 {
      font-size: 7.2rem;
      font-weight: 400;
      color: $primary-yellow;
      line-height: 1;
    }

    a {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      color: inherit;
      position: relative;
      transition: 0.125s all ease-in-out;

      p {
        font-size: 5.4rem;
        margin-bottom: 0;
        width: fit-content;
      }

      svg {
        display: inline-block;
        opacity: 0;
        transition: 0.3s all ease-in-out;
        transform: translateY(-5px);
      }

      &:hover > svg {
        opacity: 1;
        transition: 0.125s all ease-in-out;
        transform: none;
      }
    }

    a:hover {
      color: white;
      transition: 0.125s all ease-in-out;
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.5px;
      background-color: white;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  p {
    font-size: 2rem;
    font-weight: 300;
    width: 35%;
    line-height: 1.5;
  }

  .reserve-btn {
    @extend .transparent-btn;
    cursor: pointer;
    font-size: 1.6rem;
    max-width: fit-content;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 12px 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end stretch;
    z-index: 1;
    transition: all 0.5s ease;
    &:before,
    &:after {
      content: "";
      height: 500px;
      width: 500px;
      position: absolute;
      z-index: -1;
      top: 150%;
      transition: all 0.7s ease;
    }
    &:before {
      border-radius: 60% 70% 20% 40%;
      background: $primary-yellow;
      opacity: 0.2;
      animation: water 6s ease-in-out infinite both alternate;
    }
    &:after {
      border-radius: 60% 70% 20% 40%;
      background: $primary-yellow;
      opacity: 0.5;
      animation: water 7s ease-in-out infinite both alternate;
    }
    &:hover {
      &:before,
      &:after {
        opacity: 1;
        top: -100%;
      }
    }
  }

  .socials {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;

    a {
      @extend .to-yellow;
    }
  }
}

main {
  h2 {
    font-size: 3.6rem;
    color: $primary-green;
  }

  .button-fill {
    color: $highlight-black;
    width: fit-content;
    font-size: 1.6rem;
    padding: 12px 32px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid $primary-yellow;
    background-color: $primary-yellow;
    transition: $text-transition;

    &:hover {
      background-color: transparent;
      transition: $text-transition;
    }
  }

  #specials {
    padding: 86px $x-space 100px $x-space;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.6),
        rgba(242, 242, 242, 0.5)
      ),
      url("./assets/lemon-bg.jpg");
    background-size: cover;

    .special-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .specials-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-top: 43px;
    }

    img {
      width: 100%;
      height: 425px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    .special-card {
      @extend .flex-col;
      background-color: white;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    .card-details {
      @extend .flex-col;
      margin: 20px 20px;
      gap: 16px;
    }

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      color: $primary-green;
      font-size: 3.2rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    .price-tag {
      color: $secondary-cream;
      display: flex;
      gap: 2px;
    }

    .price-tag-main {
      font-size: 3.2rem;
    }

    .price-tag-decimal {
      font-size: 2rem;
    }

    .description {
      color: $highlight-black;
    }
  }

  #about {
    .about-section {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .about-section:nth-child(even) .img-container {
      order: 1;
    }

    .img-container {
      max-width: 100%;
      height: 100%;
      padding: 0px;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-attachment: fixed;
    }

    .image-1 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.5),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg.jpg");
    }

    .image-2 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.3),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg-3.jpg");
      background-position: 0 0;
    }

    .image-3 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.5),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg-4.jpg");
      background-position: 0 100%;
    }

    img {
      width: 90%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .about-description {
      @extend .flex-col;
      justify-content: center;
      gap: 32px;
      padding: 64px;
    }

    h3 {
      color: $primary-green;
      font-size: 3.6rem;
    }

    p {
      color: $highlight-black;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.5;
    }

    span {
      color: $primary-green;
      font-weight: 500;
      font-size: 2rem;
      @extend .special-elite;
    }
  }

  #testimonials {
    padding: 64px $x-space;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("./assets/lemon-bg.jpg");
    background-size: cover;

    .magazines {
      @extend .flex-col;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: $primary-green;
    }

    img {
      width: fit-content;
      height: 40px;
    }

    p {
      text-align: center;
      font-size: 1.6rem;
      width: 100%;
    }
  }
}

footer {
  @extend .flex-col;
  gap: 54px;
  padding: 24px $x-space;
  color: white;
  background-color: $primary-green;
  background-image: linear-gradient(
      180deg,
      rgba(73, 94, 87, 0.8),
      rgba(73, 94, 87, 0.8)
    ),
    url("./assets/plant-bg-5.jpg");
  background-position: 0 0;
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 300;

  a,
  .lower button {
    @extend .to-yellow;
  }

  .upper,
  .lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .mid {
    display: flex;
    justify-content: center;
  }

  .right {
    justify-self: flex-end;
  }

  .info {
    flex-direction: column;
    text-align: center;
    gap: 48px;

    h4 {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }

  .hours,
  .newsletter {
    @extend .flex-col;
    gap: 8px;
  }

  .hours {
    p {
      line-height: 1.5;
    }
  }

  form {
    input {
      width: 500px;
      padding: 12px 16px;
      background-color: white;
      border-radius: 4px;
      border: none;
    }

    button {
      @extend .transparent-btn;
      margin-left: 8px;
      padding: 11px 32px;
      transition: $text-transition;
    }
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-nav {
    gap: 32px;
  }
}

@keyframes water {
  0% {
    transform: rotate(0);
  }

  20% {
    border-radius: 50% 63% 80% 49%;
  }
  40% {
    border-radius: 60% 64% 64% 48%;
  }
  60% {
    border-radius: 80% 63% 51% 49%;
  }
  80% {
    border-radius: 40% 60% 42% 58%;
  }
  100% {
    border-radius: 62% 67% 70% 53%;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 24px $x-space-tablet;

    a {
      font-size: 1.4rem;
    }
  }

  .logo {
    width: 135px;
  }

  header {
    padding: 132px $x-space-tablet;
  }

  main {
    #specials {
      padding: 86px $x-space-tablet 100px $x-space-tablet;

      .specials-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      img {
        height: 375px;
        object-fit: cover;
        border-radius: 4px 4px 0 0;
      }
    }

    #testimonials {
      padding: 64px $x-space-tablet;

      img {
        height: 40px;
      }

      p {
        font-size: 1.4rem;
        width: 100%;
      }
    }
  }

  footer {
    padding: 24px $x-space-tablet;
  }
}

@media only screen and (max-width: 576px) {
  nav {
    padding: 24px $x-space-phone;
  }

  header {
    padding: 132px $x-space-phone;
    align-items: center;
    background-image: linear-gradient(
        90deg,
        rgba(51, 51, 51, 0.5),
        rgba(51, 51, 51, 0.5)
      ),
      url("./assets/restauranfood-comp.jpg");
    background-position: 50% 60%;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        svg {
          display: none;
        }
      }
    }

    p {
      width: 75%;
      text-align: center;
    }
  }

  main {
    h2 {
      font-size: 2.8rem;
    }

    #specials {
      padding: 86px $x-space-phone 100px $x-space-phone;
      background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.6),
          rgba(242, 242, 242, 0.5)
        ),
        url("./assets/lemon-bg.jpg");

      .special-header {
        flex-direction: column;
        gap: 16px;
      }

      .specials-list {
        display: flex;
        flex-direction: column;
      }

      img {
        height: 275px;
      }

      .special-card {
        width: 100%;
      }

      .card-details {
        display: flex;
        justify-content: space-between;
      }

      h3, .price-tag-main {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
      }
  
      .price-tag-decimal {
        font-size: 1.6rem;
      }
    }

    #about {
      .about-section {
        // width: 100%;
        display: flex;
        flex-direction: column;
      }

      .about-section:nth-child(even) .img-container {
        order: -1;
      }

      .about-description {
        padding: 32px;
      }

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
      }

      span {
        font-size: 1.8rem;
      }
    }

    #testimonials {
      padding: 64px $x-space-phone;
      display: flex;
      flex-direction: column;
      gap: 64px;

      img {
        height: 40px;
      }

      p {
        font-size: 1.4rem;
        width: 100%;
      }
    }
  }

  footer {
    padding: 24px $x-space-phone;
    gap: 32px;

    p, button {
      font-size: 1.4rem;
    }

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      input {
        width: 90%;
      }

      button {
        margin: 0;
      }
    }

    .footer-nav {
      flex-wrap: wrap;
      
    }

    .upper, .lower {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      gap: 8px;
    }
  }
}
