@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Special+Elite&display=swap");
.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, .modal-dialog .reservation-policy, .modal-dialog .reservation-details, .modal-dialog .modal-body, .location .location-info, form, main #about .about-description, main #specials .card-details, main #specials .special-card {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .location, .fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, main button {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, #homepage-header .reserve-btn, .fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, main button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, #homepage-header .reserve-btn:hover, .fill-btn:hover, .modal-dialog .submit-btn:hover, .reserve-info .hour-btn:hover, .default-btn:hover, main button:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, main button {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .modal-dialog .submit-btn:hover, .reserve-info .hour-btn:hover, .default-btn:hover, main button:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

#homepage-header {
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.7), transparent), url("./assets/restaurantfood-comp.jpg");
  background-position: 0% 60%;
}
#homepage-header .title h1 {
  font-size: 7.2rem;
  font-weight: 400;
  color: #f4ce14;
  line-height: 1.5;
}
#homepage-header .title a {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: inherit;
  position: relative;
  transition: 0.125s all ease-in-out;
}
#homepage-header .title a p {
  font-size: 5.4rem;
  margin-bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
}
#homepage-header .title a svg {
  margin-top: -10px;
  display: inline-block;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  transform: translateY(-5px);
}
#homepage-header .title a:hover > svg {
  opacity: 1;
  transition: 0.125s all ease-in-out;
  transform: none;
}
#homepage-header .title a:hover {
  color: white;
  transition: 0.125s all ease-in-out;
}
#homepage-header .title a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#homepage-header .title a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#homepage-header .header-description {
  font-size: 2rem;
  font-weight: 300;
  width: 35%;
  line-height: 1.5;
}
#homepage-header .reserve-btn {
  cursor: pointer;
  font-size: 1.6rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 12px 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end stretch;
  z-index: 1;
  transition: all 0.5s ease;
}
#homepage-header .reserve-btn:before, #homepage-header .reserve-btn:after {
  content: "";
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: -1;
  top: 150%;
  transition: all 0.7s ease;
}
#homepage-header .reserve-btn:before {
  border-radius: 60% 70% 20% 40%;
  background: #f4ce14;
  opacity: 0.2;
  animation: water 6s ease-in-out infinite both alternate;
}
#homepage-header .reserve-btn:after {
  border-radius: 60% 70% 20% 40%;
  background: #f4ce14;
  opacity: 0.5;
  animation: water 7s ease-in-out infinite both alternate;
}
#homepage-header .reserve-btn:hover:before, #homepage-header .reserve-btn:hover:after {
  opacity: 1;
  top: -100%;
}
#homepage-header .socials {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}
main h2 {
  font-size: 3.6rem;
  color: #495e57;
}
main button {
  width: -moz-fit-content;
  width: fit-content;
}
main #specials {
  padding: 86px 124px;
}
main #specials .special-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #specials .specials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 42px;
}
main #specials img {
  width: 100%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
}
main #specials .special-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
main #specials .card-details {
  margin: 20px 20px;
  gap: 16px;
}
main #specials .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #specials h3 {
  color: #495e57;
  font-size: 3.2rem;
}
main #specials p {
  font-size: 1.6rem;
  line-height: 1.5;
}
main #specials .price-tag {
  color: #ee9972;
  display: flex;
  gap: 2px;
}
main #specials .price-tag-main {
  font-size: 3.2rem;
}
main #specials .price-tag-decimal {
  font-size: 2rem;
}
main #specials .description {
  color: #333333;
}
main #about .about-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
main #about .about-section:nth-child(even) .img-container {
  order: 1;
}
main #about .img-container {
  max-width: 100%;
  height: 100%;
  padding: 0px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
}
main #about .image-1 {
  background-image: linear-gradient(180deg, rgba(73, 94, 87, 0.5), rgba(73, 94, 87, 0.5)), url("./assets/plant-bg.jpg");
}
main #about .image-2 {
  background-image: linear-gradient(180deg, rgba(73, 94, 87, 0.3), rgba(73, 94, 87, 0.5)), url("./assets/plant-bg-3.jpg");
  background-position: 0 0;
}
main #about .image-3 {
  background-image: linear-gradient(180deg, rgba(73, 94, 87, 0.5), rgba(73, 94, 87, 0.5)), url("./assets/plant-bg-4.jpg");
  background-position: 0 100%;
}
main #about img {
  width: 90%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main #about .about-description {
  justify-content: center;
  gap: 32px;
  padding: 64px;
}
main #about h2 {
  color: #495e57;
  font-size: 3.6rem;
}
main #about p {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}
main #about span {
  color: #495e57;
  font-weight: 500;
  font-size: 2rem;
}

@keyframes water {
  0% {
    transform: rotate(0);
  }
  20% {
    border-radius: 50% 63% 80% 49%;
  }
  40% {
    border-radius: 60% 64% 64% 48%;
  }
  60% {
    border-radius: 80% 63% 51% 49%;
  }
  80% {
    border-radius: 40% 60% 42% 58%;
  }
  100% {
    border-radius: 62% 67% 70% 53%;
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 1024px) {
  main #specials {
    padding: 86px 64px 100px 64px;
  }
  main #specials .specials-list {
    display: flex;
    flex-wrap: wrap;
  }
  main #specials .special-card {
    flex: 1 1 0px;
  }
}
@media only screen and (max-width: 768px) {
  main h2 {
    font-size: 2.8rem;
  }
  main #specials .specials-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  main #specials img {
    height: 35vw;
  }
  main #specials h3,
  main #specials .price-tag-main {
    font-size: 2.8rem;
  }
  main #specials p {
    font-size: 1.4rem;
  }
  main #specials .price-tag-decimal {
    font-size: 2rem;
  }
  main #about h2 {
    font-size: 2.8rem;
  }
  main #about p {
    font-size: 1.4rem;
  }
  main #about span {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 576px) {
  #homepage-header {
    background-position: 50% 60%;
  }
  #homepage-header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #homepage-header .title a svg {
    display: none;
  }
  #homepage-header p {
    width: 75%;
    text-align: center;
  }
  main #specials {
    padding: 86px 16px 100px 16px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  }
  main #specials .special-header {
    flex-direction: column;
    gap: 16px;
  }
  main #specials .specials-list {
    display: flex;
    flex-direction: column;
  }
  main #specials img {
    height: 275px;
  }
  main #specials .card-details {
    display: flex;
    justify-content: space-between;
  }
  main #about .about-section {
    display: flex;
    flex-direction: column;
  }
  main #about .about-section:nth-child(even) .img-container {
    order: -1;
  }
  main #about .about-description {
    padding: 32px;
  }
}
.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, .modal-dialog .reservation-policy, .modal-dialog .reservation-details, .modal-dialog .modal-body, .location .location-info, form, main #specials .special-card, main #specials .card-details, main #about .about-description {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .location, .fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, main button {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, .fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, #homepage-header .reserve-btn, main button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, .fill-btn:hover, .modal-dialog .submit-btn:hover, .reserve-info .hour-btn:hover, .default-btn:hover, #homepage-header .reserve-btn:hover, main button:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .modal-dialog .submit-btn, .reserve-info .hour-btn, .default-btn, main button {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .modal-dialog .submit-btn:hover, .reserve-info .hour-btn:hover, .default-btn:hover, main button:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

#reservation-header {
  height: 450px;
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.5), transparent), url("./assets/restaurant-6.jpg");
  background-position: 40% 70%;
}

#reserve-main {
  padding: 86px 124px;
}

#reserve-header {
  display: flex;
}
#reserve-header h2 {
  font-size: 3.6rem;
  color: #495e57;
}

.reserve-info {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.reserve-info .reserve-hours {
  margin-top: 16px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.reserve-info .hour-btn {
  font-size: 1.6rem;
  padding: 0;
  width: 124px;
  aspect-ratio: 8/3;
}

form {
  font-size: 1.6rem;
  gap: 32px;
}
form .form-join {
  border: 1px solid gainsboro;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
form .form-join * {
  border: none;
  width: 33%;
}
form .form-join *:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.location {
  display: flex;
  border: 1px solid gainsboro;
  border-radius: 4px;
}
.location iframe {
  width: 45%;
  height: 400px;
  border-radius: 4px 0 0 4px;
}
.location .location-info {
  width: 350px;
  padding: 32px;
  gap: 16px;
}
.location .location-info h3 {
  color: #495e57;
  font-size: 3.2rem;
}
.location .location-info p {
  color: #333333;
  font-size: 1.6rem;
}
.location .text-link {
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  font-size: 1.6rem;
  text-underline-offset: 2px;
}
.location .socials {
  display: flex;
  gap: 16px;
}
.location .socials a {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.location .socials a:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, .modal-dialog .reservation-policy, .modal-dialog .reservation-details, .modal-dialog .modal-body, main #specials .special-card, main #specials .card-details, main #about .about-description, form, .location .location-info {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn, .location {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, .fill-btn, .modal-dialog .submit-btn, .default-btn, #homepage-header .reserve-btn, main button, .reserve-info .hour-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, .fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, #homepage-header .reserve-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

input, select {
  padding: 12px 12px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gainsboro;
  transition: all 0.075s ease-in;
}

input:focus {
  border: 1px solid #495e57;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(217, 217, 217, 0.1);
  transition: all 0.075s ease-in;
}

select {
  cursor: pointer;
}

option {
  border-radius: 4px;
}

.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, .modal-dialog .reservation-policy, .modal-dialog .reservation-details, .modal-dialog .modal-body, main #specials .special-card, main #specials .card-details, main #about .about-description, form, .location .location-info {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn, .location {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, .fill-btn, .modal-dialog .submit-btn, .default-btn, #homepage-header .reserve-btn, main button, .reserve-info .hour-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, .fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, #homepage-header .reserve-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

.flatpickr-calendar .flatpickr-day {
  color: #333333;
}
.flatpickr-calendar .flatpickr-day.selected, .flatpickr-calendar .flatpickr-day.selected:hover {
  background: #f4ce14;
  color: black;
  border-color: transparent;
}
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: -5px;
}
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month:hover i, .flatpickr-calendar .flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month:hover i,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #495e57;
}
.flatpickr-calendar select.flatpickr-monthDropdown-months, .flatpickr-calendar .numInputWrapper {
  border-radius: 4px;
}
.flatpickr-calendar .numInputWrapper {
  margin-left: 16px;
}
.flatpickr-calendar .arrowUp {
  border-radius: 0 4px 0px 0;
}
.flatpickr-calendar .arrowDown {
  border-radius: 0 0px 4px 0;
}

.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, .modal-dialog .reservation-policy, .modal-dialog .reservation-details, .modal-dialog .modal-body, main #specials .special-card, main #specials .card-details, main #about .about-description, form, .location .location-info {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn, .location {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, .fill-btn, .modal-dialog .submit-btn, .default-btn, #homepage-header .reserve-btn, main button, .reserve-info .hour-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, .fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, #homepage-header .reserve-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .modal-dialog .submit-btn, .default-btn, main button, .reserve-info .hour-btn {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .modal-dialog .submit-btn:hover, .default-btn:hover, main button:hover, .reserve-info .hour-btn:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

p svg {
  margin-top: -5px;
  margin-right: 8px;
}

.modal-dialog {
  font-size: 1.6rem;
}
.modal-dialog .modal-header {
  padding: 18px 32px;
  border-bottom: 0.8px solid gainsboro;
}
.modal-dialog .modal-title {
  font-size: 2.8rem;
  color: #495e57;
}
.modal-dialog .modal-body {
  color: #333333;
  padding: 0;
}
.modal-dialog .reservation-details {
  padding: 18px 32px;
  gap: 8px;
}
.modal-dialog .reservation-details h6 {
  font-size: 2.4rem;
  color: #495e57;
}
.modal-dialog .reservation-details .icon-info {
  display: flex;
  gap: 16px;
}
.modal-dialog .reservation-policy {
  background-color: #f6f6f6;
  justify-content: center;
}
.modal-dialog .reservation-policy p {
  padding: 36px 0 !important;
  margin: 0 32px !important;
}
.modal-dialog .reservation-policy p:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
.modal-dialog .reservation-policy .cancellation-policy {
  display: flex;
  gap: 64px;
  font-size: 1.4rem;
}
.modal-dialog .reservation-policy .cancellation-policy p {
  text-align: left;
}
.modal-dialog .reservation-policy .cancellation-policy span {
  text-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
}
.modal-dialog .reservation-policy .privacy-policy {
  text-align: center;
  font-size: 1.2rem !important;
}
.modal-dialog .modal-footer {
  display: flex;
  justify-content: center !important;
  font-size: 1.6rem;
  padding: 18px 32px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.modal-dialog .submit-btn {
  width: 100%;
  align-items: center;
  padding: 12px 32px;
  font-size: 1.6rem !important;
}

.spinner {
  justify-self: center;
  color: gainsboro;
  margin: 64px auto;
}

.markazi, .modal-dialog .modal-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite, main #about span {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flex-col, footer .hours,
footer .newsletter, footer, #testimonials .magazines, header, .offcanvas .offcanvas-nav, main #specials .special-card, main #specials .card-details, main #about .about-description, form, .location .location-info, .modal-dialog .modal-body, .modal-dialog .reservation-details, .modal-dialog .reservation-policy {
  display: flex;
  flex-direction: column;
}

.to-yellow, footer a,
footer .lower button, nav button,
nav a, #homepage-header .socials a {
  cursor: pointer;
  color: white;
  transition: all 0.075s ease-in;
}
.to-yellow:hover, footer a:hover,
footer .lower button:hover, nav button:hover,
nav a:hover, #homepage-header .socials a:hover {
  color: #f4ce14 !important;
  transition: all 0.075s ease-in;
}

.default-shadow, .fill-btn, .default-btn, main button, .reserve-info .hour-btn, .location, .modal-dialog .submit-btn {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.transparent-btn, footer form button, .fill-btn, .default-btn, #homepage-header .reserve-btn, main button, .reserve-info .hour-btn, .modal-dialog .submit-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid #f4ce14;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.075s ease-in;
}
.transparent-btn:hover, footer form button:hover, .fill-btn:hover, .default-btn:hover, #homepage-header .reserve-btn:hover, main button:hover, .reserve-info .hour-btn:hover, .modal-dialog .submit-btn:hover {
  background-color: #f4ce14;
  color: #333333;
  transition: all 0.075s ease-in;
}

.fill-btn, .default-btn, main button, .reserve-info .hour-btn, .modal-dialog .submit-btn {
  background-color: #f4ce14;
  color: #333333;
  border: 1px solid #f4ce14;
}
.fill-btn:hover, .default-btn:hover, main button:hover, .reserve-info .hour-btn:hover, .modal-dialog .submit-btn:hover {
  background-color: transparent;
}

.default-btn, main button {
  font-size: 1.6rem;
  padding: 12px 32px;
}

.link-btn, .location .text-link {
  color: #333333 !important;
  transition: all 0.075s ease-in;
}
.link-btn:hover, .location .text-link:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.lemon-bg, #testimonials, main #specials {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(242, 242, 242, 0.5)), url("./assets/lemon-bg.jpg");
  background-size: cover;
}

.text-danger {
  font-weight: 500;
}

svg {
  vertical-align: -15em;
  margin-bottom: -0.0625em;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #495e57;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}
a:visited {
  color: white !important;
}

button {
  background-color: transparent;
  border: none;
}

nav {
  color: white;
  padding: 24px 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s linear;
}
nav .nav-links {
  display: flex;
  gap: 36px;
  align-items: center;
  margin: 0;
}
nav button,
nav a {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo {
  width: 165px;
}

.burger {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.offcanvas {
  background-color: rgb(255, 255, 255);
}
.offcanvas * {
  color: #333333;
}
.offcanvas .offcanvas-header {
  padding: 24px 16px;
  justify-content: space-between;
}
.offcanvas .offcanvas-body {
  padding: 32px 16px;
}
.offcanvas .offcanvas-nav {
  gap: 36px;
}
.offcanvas .offcanvas-nav button {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.offcanvas .offcanvas-socials {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.nav-background {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.nav-background button,
.nav-background a {
  color: #333333 !important;
}
.nav-background button:hover,
.nav-background a:hover {
  color: #495e57 !important;
  transition: all 0.075s ease-in;
}

.hidden {
  top: -120px;
  transition: all 0.15s linear;
}

header {
  justify-content: center;
  gap: 32px;
  height: 750px;
  padding: 0px 124px;
  color: white;
  letter-spacing: 1px;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#testimonials {
  padding: 64px 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
#testimonials .magazines {
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #495e57;
}
#testimonials img {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
}
#testimonials p {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}

footer {
  gap: 54px;
  padding: 24px 124px;
  color: white;
  background-color: #495e57;
  background-image: linear-gradient(180deg, rgba(73, 94, 87, 0.8), rgba(73, 94, 87, 0.8)), url("./assets/plant-bg-5.jpg");
  background-position: 0 0;
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 300;
}
footer .upper,
footer .lower {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .mid {
  display: flex;
  justify-content: center;
}
footer .right {
  justify-self: flex-end;
}
footer .info {
  flex-direction: column;
  text-align: center;
  gap: 48px;
}
footer .info h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
}
footer .hours,
footer .newsletter {
  gap: 12px;
}
footer .hours p {
  line-height: 1.5;
}
footer form {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer form input {
  width: 500px;
}
footer form button {
  margin-left: 8px;
  padding: 12px 32px;
  transition: all 0.075s ease-in;
}
footer .footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}
footer .footer-nav {
  gap: 32px;
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 24px 64px;
  }
  nav a {
    font-size: 1.4rem;
  }
  .logo {
    width: 135px;
  }
  header {
    padding: 0px 64px;
  }
  #testimonials {
    padding: 64px 64px;
  }
  #testimonials img {
    height: 40px;
  }
  #testimonials p {
    font-size: 1.4rem;
    width: 100%;
  }
  footer {
    padding: 24px 64px;
  }
}
@media only screen and (max-width: 768px) {
  #testimonials p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 576px) {
  nav {
    padding: 24px 16px;
  }
  header {
    padding: 0px 16px;
    align-items: center;
  }
  #testimonials {
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  #testimonials img {
    height: 40px;
  }
  #testimonials p {
    width: 100%;
  }
  footer {
    padding: 24px 16px;
    gap: 32px;
  }
  footer p,
  footer button {
    font-size: 1.4rem;
  }
  footer form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  footer form input {
    width: 90%;
  }
  footer form button {
    margin: 0;
  }
  footer .footer-nav {
    flex-wrap: wrap;
  }
  footer .upper,
  footer .lower {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    gap: 12px;
  }
}/*# sourceMappingURL=App.css.map */