@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Special+Elite&display=swap");

@import "./styles/Home";
@import "./styles/Reservation";
@import "./styles/Form";
@import "./styles/Flatpickr";
@import "variables";

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-green;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;

  &:visited {
    color: white !important;
  }
}

button {
  background-color: transparent;
  border: none;
}

nav {
  color: white;
  padding: 24px $x-space;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 54px;

  position: fixed;
  width: calc(100%);
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s linear;

  .nav-links {
    display: flex;
    gap: 36px;
    align-items: center;
    margin: 0;
  }

  button,
  a {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    @extend .to-yellow;
  }
}

.logo {
  width: 165px;
}

.burger {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.offcanvas {
  background-color: rgba(255, 255, 255, 1);

  & * {
    color: $highlight-black;
  }

  .offcanvas-header {
    padding: 24px 16px;
    justify-content: space-between;
  }

  .offcanvas-body {
    padding: 32px 16px;
  }

  .offcanvas-nav {
    @extend .flex-col;
    gap: 36px;

    button {
      width: 100%;
      text-align: right;
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .offcanvas-socials {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}

.nav-background {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  button,
  a {
    color: $highlight-black !important;
    &:hover {
      color: $primary-green !important;
      transition: $text-transition;
    }
  }
}

.hidden {
  top: -120px;
  transition: all 0.15s linear;
}

header {
  @extend .flex-col;
  justify-content: center;
  gap: 32px;
  height: 750px;
  padding: 0px $x-space;
  color: white;
  letter-spacing: 1px;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#testimonials {
  padding: 64px $x-space;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  @extend .lemon-bg;

  .magazines {
    @extend .flex-col;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $primary-green;
  }

  img {
    width: fit-content;
    height: 40px;
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
  }
}

footer {
  @extend .flex-col;
  gap: 54px;
  padding: 24px $x-space;
  color: white;
  background-color: $primary-green;
  background-image: linear-gradient(
      180deg,
      rgba(73, 94, 87, 0.8),
      rgba(73, 94, 87, 0.8)
    ),
    url("./assets/plant-bg-5.jpg");
  background-position: 0 0;
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 300;

  a,
  .lower button {
    @extend .to-yellow;
  }

  .upper,
  .lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .mid {
    display: flex;
    justify-content: center;
  }

  .right {
    justify-self: flex-end;
  }

  .info {
    flex-direction: column;
    text-align: center;
    gap: 48px;

    h4 {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }

  .hours,
  .newsletter {
    @extend .flex-col;
    gap: 12px;
  }

  .hours {
    p {
      line-height: 1.5;
    }
  }

  form {
    input {
      width: 500px;
    }

    button {
      @extend .transparent-btn;
      margin-left: 8px;
      padding: 11px 32px;
      transition: $text-transition;
    }
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-nav {
    gap: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    padding: 24px $x-space-tablet;

    a {
      font-size: 1.4rem;
    }
  }

  .logo {
    width: 135px;
  }

  header {
    padding: 0px $x-space-tablet;
  }

  #testimonials {
    padding: 64px $x-space-tablet;

    img {
      height: 40px;
    }

    p {
      font-size: 1.4rem;
      width: 100%;
    }
  }

  footer {
    padding: 24px $x-space-tablet;
  }
}

@media only screen and (max-width: 768px) {
  #testimonials {
    p {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  nav {
    padding: 24px $x-space-phone;
  }

  header {
    padding: 0px $x-space-phone;
    align-items: center;
  }

  #testimonials {
    padding: 64px $x-space-phone;
    display: flex;
    flex-direction: column;
    gap: 64px;

    img {
      height: 40px;
    }

    p {
      width: 100%;
    }
  }

  footer {
    padding: 24px $x-space-phone;
    gap: 32px;

    p,
    button {
      font-size: 1.4rem;
    }

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;

      input {
        width: 90%;
      }

      button {
        margin: 0;
      }
    }

    .footer-nav {
      flex-wrap: wrap;
    }

    .upper,
    .lower {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      gap: 12px;
    }
  }
}
