@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Rosarivo:ital@0;1&display=swap');

/* .markazi-text-<uniquifier> {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
