@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Special+Elite&display=swap");

$primary-green: #495e57;
$primary-yellow: #f4ce14;
$secondary-cream: #ee9972;
$secondary-cream-light: #fbdabb;
$highlight-gray: #edefee;
$highlight-black: #333333;
$x-space: 186px;
$text-transition: all 0.075s ease-in;

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-green;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.markazi {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.special-elite {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

nav {
  color: white;
  padding: 24px $x-space;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 54px;

  position: fixed;
  width: calc(100%);
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s linear;

  img {
    width: 180px;
  }

  ul {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: $text-transition;

    &:hover {
      color: $primary-yellow;
      transition: $text-transition;
    }
  }
}

.nav-background {
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  a {
    &:hover {
      color: $primary-green;
      transition: $text-transition;
    }
  }
}

.hidden {
  top: -120px;
  transition: all 0.15s linear;
}

header {
  background-attachment: fixed;
  background-color: $primary-green;
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.7), transparent),
    url("./assets/restauranfood-comp.jpg");
  background-size: cover;
  background-position: 0% 60%;
  color: white;
  padding: 172px $x-space;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .title {
    letter-spacing: 1px;

    h1 {
      font-size: 7.2rem;
      font-weight: 400;
      color: $primary-yellow;
      line-height: 1;
    }

    a {
      color: inherit;
      font-size: 5.4rem;
      line-height: 1;
      position: relative;
      transition: 0.125s all ease-in-out;

      i {
        display: inline-block;
        opacity: 0;
        transition: 0.3s all ease-in-out;
        transform: translateY(-5px);
      }

      &:hover > i {
        opacity: 1;
        transition: 0.125s all ease-in-out;
        transform: none;
      }
    }

    a:hover {
      color: white;
      transition: 0.125s all ease-in-out;
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: white;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  p {
    font-size: 2rem;
    font-weight: 300;
    width: 35%;
    line-height: 1.5;
  }

  .reserve-btn {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    max-width: fit-content;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    border: 2px solid $primary-yellow;
    border-radius: 4px;
    padding: 12px 32px;
    text-transform: uppercase;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end stretch;
    z-index: 1;
    transition: all 0.5s ease;
    &:before,
    &:after {
      content: "";
      height: 500px;
      width: 500px;
      position: absolute;
      z-index: -1;
      top: 150%;
      transition: all 0.7s ease;
    }
    &:before {
      border-radius: 60% 70% 20% 40%;
      background: $primary-yellow;
      opacity: 0.2;
      animation: water 6s ease-in-out infinite both alternate;
    }
    &:after {
      border-radius: 60% 70% 20% 40%;
      background: $primary-yellow;
      opacity: 0.5;
      animation: water 7s ease-in-out infinite both alternate;
    }
    &:hover {
      background: $primary-yellow;
      color: black;
      &:before,
      &:after {
        opacity: 1;
        top: -100%;
      }
    }
  }

  .socials {
    display: flex;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      transition: $text-transition;

      &:hover {
        color: $primary-yellow;
        transition: $text-transition;
      }
    }
  }
}

main {
  h2 {
    font-size: 3.6rem;
    color: $primary-green;
  }

  .button-fill {
    color: $primary-green !important;
    width: fit-content;
    font-size: 1.6rem;
    padding: 12px 32px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    transition: $text-transition;
    text-transform: uppercase;
    color: $highlight-black;
    font-weight: 500;
    border: 1px solid $primary-yellow;
    background-color: $primary-yellow;

    &:hover {
      color: $highlight-black !important;
      background-color: transparent;
      transition: $text-transition;
    }
  }

  #specials {
    padding: 86px $x-space 100px $x-space;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.6),
        rgba(242, 242, 242, 0.5)
      ),
      url("./assets/lemon-bg.jpg");
    background-size: cover;

    .special-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .specials-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-top: 43px;
    }

    img {
      width: 100%;
      height: 425px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    .special-card {
      background-color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    .special-details {
      margin: 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .special-header {
      display: flex;
      justify-content: space-between;
    }

    h3 {
      color: $primary-green;
      font-size: 3.2rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    .price-tag {
      color: $secondary-cream;
      display: flex;
      gap: 2px;
    }

    .price-tag-main {
      font-size: 3.2rem;
    }

    .price-tag-decimal {
      font-size: 2rem;
    }

    .description {
      color: $highlight-black;
    }

    .order {
      color: $secondary-cream-light;
    }
  }

  #about {
    .about-section {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .img-container {
      padding: 0px;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-attachment: fixed;
    }

    .image-1 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.5),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg.jpg");
    }

    .image-2 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.3),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg-3.jpg");
      background-position: 50% 0;
    }

    .image-3 {
      background-image: linear-gradient(
          180deg,
          rgba(73, 94, 87, 0.5),
          rgba(73, 94, 87, 0.5)
        ),
        url("./assets/plant-bg-4.jpg");
      background-position: 0 100%;
    }

    img {
      width: 90%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .about-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      padding: 64px;
    }

    h3 {
      color: $primary-green;
      font-size: 3.6rem;
    }

    p {
      color: $highlight-black;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.5;
    }

    span {
      color: $primary-green;
      font-weight: 500;
      font-size: 2rem;
      @extend .special-elite;
    }
  }

  #testimonials {

    .magazines {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    img {
      height: 50px;
    }
  }
}

@keyframes water {
  0% {
    transform: rotate(0);
  }

  20% {
    border-radius: 50% 63% 80% 49%;
  }
  40% {
    border-radius: 60% 64% 64% 48%;
  }
  60% {
    border-radius: 80% 63% 51% 49%;
  }
  80% {
    border-radius: 40% 60% 42% 58%;
  }
  100% {
    border-radius: 62% 67% 70% 53%;
    transform: rotate(180deg);
  }
}
